<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Guardia</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<style>
  html,
  body {
    background-color: hsl(0, 0%, 71%);
    min-height: 100vh;
  }

  .form {
    background-color: white;
    width: 60%;
    padding: 5em;
    padding-top: 1em;
    border-radius: 10px;
    margin: auto;
  }

  .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .chip {
    text-align: center;
    background-color: hsl(141, 53%, 31%);
    color: white;
  }
</style>

<body>
  <div class="container">
    <div class="form">
      <h1>Registrar Visita</h1>
      <form action="{% url 'vista_formulario' %}" method="post">
        {% csrf_token %}
        {{ persona_form }}
        {{ ingreso_form }}
        <input type="submit" class='btn right' value="Enviar" />
      </form>
      {% if mensaje %}
      <div class="chip">
        {{mensaje}}
        <i class="close material-icons">close</i>
      </div>
      {% endif %}
    </div>
  </div>
</body>

</html>